<div class="header-container">
  <div class="row ">
    <div class="col-3">
      <img src="/assets/profile-2.jpg" alt="" class="profile">
    </div>
    <div class="col-9">
      <div class="r-content">
        <div class="logo">JS</div>
        <div class="name">Eng. Juan Sanoja</div>
      </div>
      <div class="build">
        <p>
          Let's build together
          <br>
          <span class="position">Tech Lead Engineer</span>
          <br>
          <span class="position">Software Developer</span>
          <br>
          <span class="position">Ninja Coder</span>
        </p>
      </div>

    </div>
  </div>
</div>
