<h2>Skills</h2>

<div class="front">
  <h3>Frontend</h3>
  <div class="chip" *ngFor="let skill of this.skills.frontend ">{{skill}}</div>
</div>
<div class="frameworks">
  <h3>Frameworks</h3>
  <div class="chip" *ngFor="let skill of this.skills.frameworks ">{{skill}}</div>
</div>
<div class="backend">
  <h3>Backend</h3>
  <div class="chip" *ngFor="let skill of this.skills.backend ">{{skill}}</div>
</div>
<div class="devOps">
  <h3>DevOps</h3>
  <div class="chip" *ngFor="let skill of this.skills.devOps ">{{skill}}</div>
</div>
<div class="pM">
  <h3>PM</h3>
  <div class="chip" *ngFor="let skill of this.skills.pM ">{{skill}}</div>
</div>
<div class="databases">
  <h3>Databases</h3>
  <div class="chip" *ngFor="let skill of this.skills.databases ">{{skill}}</div>
</div>
<div class="packages">
  <h3>Packages</h3>
  <div class="chip" *ngFor="let skill of this.skills.packages ">{{skill}}</div>
</div>
<div class="electronic">
  <h3>Cloud</h3>
  <div class="chip" *ngFor="let skill of this.skills.cloud ">{{skill}}</div>
</div>
<div class="electronic">
  <h3>Electronics</h3>
  <div class="chip" *ngFor="let skill of this.skills.electronic ">{{skill}}</div>
</div>

